@model RentHome.Web.ViewModels.Properties.PropertiesListViewModel
@{
    this.ViewData["Title"] = "MyProperties"; 
    var img = new SectionImg() { Name = "My Properties", Img = "https://i.ytimg.com/vi/Nd5YbZC94Y4/hqdefault.jpg" };
}
<partial name="_SectionImgPartial" model="img" />
<br>
<div class="container">
    @if (Model.Properties.Count() == 0)
    {
        <h3>You have no registered properties yet</h3>
        <a class="btn south-btn" asp-area="" asp-controller="Properties" asp-action="Create">Create Property</a>
    }
    else
    {
        <div class="row  justify-content-center">
            @foreach (var property in Model.Properties)
            {
                <partial name="_PropertiesCardPartial" model="@property" />
            }
        </div>
    }
</div>