@model RentHome.Web.ViewModels.ContactUs.ContactInputModel
@{
    ViewData["Title"] = "ContactUs";
    var img = new SectionImg() { Name = "CONTACT", Img = "https://image.cnbcfm.com/api/v1/image/103500764-GettyImages-147205632-2.jpg" };
}
<partial name="_SectionImgPartial" model="img" />

<section class="south-contact-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-heading">
                    <h6>Contact info</h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="content-sidebar">
                    <!-- Office Hours -->
                    <div class="weekly-office-hours">
                        <ul>
                            <li class="d-flex align-items-center justify-content-between"><span>Monday - Friday</span> <span>09 AM - 19 PM</span></li>
                            <li class="d-flex align-items-center justify-content-between"><span>Saturday</span> <span>09 AM - 14 PM</span></li>
                            <li class="d-flex align-items-center justify-content-between"><span>Sunday</span> <span>Closed</span></li>
                        </ul>
                    </div>
                    <!-- Address -->
                    <div class="address mt-30">
                        <h6><img src="https://technext.github.io/south/img/icons/envelope.png" alt=""> renthome997@gmail.com</h6>
                    </div>
                </div>
            </div>

            <!-- Contact Form Area -->
            <div class="col-12 col-lg-8">
                <div class="contact-form">
                    <form method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" asp-for="YourName" id="contact-name" placeholder="Your Name">
                            <span asp-validation-for="YourName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" asp-for="YourEmail" id="contact-email" placeholder="Your Email">
                            <span asp-validation-for="YourEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" asp-for="Subject" id="contact-name" placeholder="Subject">
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" asp-for="Message" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn south-btn">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
