@model RentHome.Web.ViewModels.Rental.RequestInputModel
@{
    this.ViewData["Title"] = "Rental";
    var img = new SectionImg() { Name = "Request", Img = "https://www.royalshellrealestate.com/uploads/agent-386/luxury%20homes%20for%20sale%20in%20fort%20myers%20royal%20shell%20real%20estate.jpg" };
}
<partial name="_SectionImgPartial" model="img" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="contact-heading">
                <h6>Request</h6>
            </div>
        </div>
    </div>
    <div class="row  justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="contact-form">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        @if (Model.Status == RentHome.Data.Models.Enums.PropertyStatus.ToRent)
                        {
                            <label asp-for="Duration"></label>
                            <input class="form-control" asp-for="Duration" id="contact-name" placeholder="Duration" />
                        }
                        <label asp-for="RentDate"></label>
                        <input class="form-control" asp-for="RentDate" id="contact-name" placeholder="Rent Date" />
                        <textarea class="form-control" asp-for="Message" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
                    </div>
                    <button type="submit" class="btn south-btn">Request</button>
                </form>
            </div>
        </div>
        <partial name="_PropertiesCardPartial" model="@Model.Property" />
    </div>
</div>
