@model RentHome.Web.ViewModels.Search.ListViewModel
@{
    this.ViewData["Title"] = "Results from search";
    var img = new SectionImg() { Name = "Results from your search", Img = "https://www.gannett-cdn.com/-mm-/e88c1af2be34b087d9814f3323fb03e70ce91c82/c=0-75-3000-1770/local/-/media/2017/06/27/Naples/Naples/636341717110997836-harwick0702.jpg" };
}
<partial name="_SectionImgPartial" model="img" />

<div class="container">
    <br>
    @if (Model.Properties.Count() == 0)
    {
        <h3>
            No result has been found by given criterias
        </h3>
        <a asp-area="" asp-controller="Search" asp-action="Index" class="btn south-btn mt-50 wow fadeInUp" data-wow-delay="500ms">Search</a>
    }
    <div class="row  justify-content-center">
        @foreach (var property in Model.Properties)
        {
            <partial name="_PropertiesCardPartial" model="property" />
        }
    </div>
</div>